<app-header [backRoute]="'/start'" [title]="'login'"></app-header>

<ion-content mode="ios" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Inicio de Sesión</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <!-- Email -->
              <ion-item class="form-group">
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input
                  [(ngModel)]="email"
                  name="email"
                  type="email"
                  required
                  autocomplete="email"
                  inputmode="email">
                </ion-input>
              </ion-item>

              <!-- Contraseña -->
              <ion-item class="form-group">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input
                  [(ngModel)]="password"
                  name="password"
                  type="password"
                  required
                  autocomplete="current-password">
                </ion-input>
              </ion-item>

              <!-- Botones -->
              <div class="ion-margin-top">
                <ion-button
                  type="submit"
                  expand="block"
                  [disabled]="!loginForm.form.valid || isLoading">
                  Iniciar Sesión
                </ion-button>
                <ion-button
                  expand="block"
                  color="medium"
                  type="button"
                  routerLink="/register">
                  Registrarse
                </ion-button>
              </div>

            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
