/* login.page.scss */

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

ion-card-title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--ion-color-primary);
}

.form-group {
  margin-bottom: 16px;
}

ion-button {
  --padding-top: 20px;
  --padding-bottom: 8px;
  --padding-start: 12px;
  --padding-end: 12px;
  --border-radius: 8px;
  --font-size: 14px;
  height: 40px;
  margin-top: 8px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
