<app-header [backRoute]="'/login'" [title]="'Registro de usuario'"></app-header>

<ion-content mode="ios" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Formulario de Registro</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <h2 class="ion-margin-bottom">1. Datos personales</h2>

            <form (ngSubmit)="registerUser(registerForm)" #registerForm="ngForm">

              <!-- Nombres -->
              <ion-item>
                <ion-label position="floating">Nombres</ion-label>
                <ion-input
                  name="name"
                  [(ngModel)]="name"
                  required
                  type="text"
                  autocomplete="given-name">
                </ion-input>
              </ion-item>

              <!-- Apellidos -->
              <ion-item>
                <ion-label position="floating">Apellidos</ion-label>
                <ion-input
                  name="lastname"
                  [(ngModel)]="lastname"
                  required
                  type="text"
                  autocomplete="family-name">
                </ion-input>
              </ion-item>

              <!-- Correo electrónico -->
              <ion-item>
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input
                  name="email"
                  [(ngModel)]="email"
                  required
                  type="email"
                  autocomplete="email"
                  inputmode="email">
                </ion-input>
              </ion-item>

              <!-- Teléfono -->
              <ion-item>
                <ion-label position="floating">Número de teléfono</ion-label>
                <ion-input
                  name="phone"
                  [(ngModel)]="phone"
                  required
                  type="tel"
                  autocomplete="tel"
                  inputmode="numeric"
                  pattern="^[0-9]{10}$">
                </ion-input>
              </ion-item>

              <!-- Contraseña -->
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input
                  name="password"
                  [(ngModel)]="password"
                  required
                  type="password"
                  minlength="6"
                  autocomplete="new-password">
                </ion-input>
              </ion-item>

              <!-- Botón de registrar -->
              <div class="ion-margin-top">
                <ion-button
                  expand="block"
                  type="submit"
                  [disabled]="!registerForm.form.valid ">
                  Registrar
                </ion-button>
              </div>
            </form>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
