<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="otherUserName">
        {{ otherUserName }}
        <ion-note *ngIf="otherUserPhone" class="ion-text-nowrap" style="display: block;">
          {{ otherUserPhone }}
        </ion-note>
      </div>
      <div *ngIf="!otherUserName">Cargando Chat...</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="startJitsiCall()" [disabled]="!isAuthReady || !otherUserId">
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="loading" class="ion-text-center ion-padding-top">
    <ion-spinner></ion-spinner>
    <p>Cargando mensajes...</p>
  </div>

  <div *ngIf="error" class="ion-text-center ion-padding-top">
    <ion-text color="danger">
      <p>{{ error }}</p>
    </ion-text>
  </div>

  <ion-list *ngIf="!loading && !error && messages.length > 0">
    <ion-item *ngFor="let message of messages" [class.ion-text-right]="message.senderId === currentUserUID"
      lines="none">
      <div class="message-bubble" [class.my-message]="message.senderId === currentUserUID"
        [class.other-message]="message.senderId !== currentUserUID">
        <p class="message-text">{{ message.text }}</p>
        <ion-note class="message-time">{{ message.timestamp?.toDate() | date:'shortTime' }}</ion-note>
      </div>
    </ion-item>
    <div #messagesEnd></div>
  </ion-list>

  <div *ngIf="!loading && !error && messages.length === 0" class="ion-text-center ion-padding-top">
    <p>No hay mensajes en este chat. ¡Envía el primero!</p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none" class="message-input-wrapper">
      <ion-input [(ngModel)]="newMessageText" placeholder="Escribe un mensaje..." (keyup.enter)="sendMessage()"
        [disabled]="!isAuthReady || !chatId"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="sendMessage()" [disabled]="!newMessageText.trim() || !isAuthReady || !chatId">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
        
        <ion-button>
          <ion-icon name="mic" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button>
          <ion-icon name="document-attach" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button>
          <ion-icon name="location" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>