<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Contacto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding">
  <form (ngSubmit)="addContact()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="lastname" name="lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="phone" name="phone" required type="tel"></ion-input>
    </ion-item>


    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button expand="full" type="submit">Guardar Contacto</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
